.AppHeader {
  padding: 0px 16px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  border-bottom: 1px solid;
}

.AppHeaderInner {
  height: 48px;
  max-width: 980px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AppHeaderPageTitle {
  font-weight: 600;
  font-size: 1.5em;
}

.AppHeaderMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.AppContent {
  margin: 1rem;
  font-size: 1rem;
}

.AppContentInner {
  margin: 0 auto;
  max-width: 980px;
}

.SearchBar {
  margin-top: 1em;
}

.SearchInput {
  /*
  display: flex;
  justify-content: left;
  align-items: center;
	*/
  font-size: 1.2em;
}

.SearchInput label {
  display: block;
}

.SearchOptionList label {
  margin-right: 0.7em;
  border: 1px solid #666666;
  padding: 0.1em 0.5em 0.2em;
  margin-right: 0.5em;
  color: #777777;
  font-weight: 600;
}

.SearchInput input[type="checkbox"] {
  vertical-align: middle;
  margin: 0px;
  margin-right: 0.3em;
}

.SearchText {
  font-size: 1.1em;
  border: 1px solid #000000;
  padding: 0.1em 0.4em 0.2em;
}

.SearchText input[type="text"] {
  margin: 0em 0.5em;
  padding: 0em;
  font-size: 1em;
  outline: none;
  border: #ffffff;
}

.SearchOptionList {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0.5em 0em;
}

.WordList {
  margin-top: 0.5em;
}

.WordList table {
  font-size: 1.1rem;
  width: 100%;
  border-collapse: collapse;
}

.WordList th,
td {
  border: 1px solid;
  padding: 0.5em 0.5em;
}

.WordListInteraction {
  text-align: center;
}

.CefrDecoration {
  padding: 0em 0.5em;
  border-radius: 4px;
  color: #ffffff;
  background: #808080;
  font-weight: 600;
  font-size: 0.8em;
}
